* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}


.loginContainer {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

body {
    /* width: 100vw;
    height: 100vh; */
    background-color: #001941;
}

.loginForm {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    background-color: #08295e;
    padding: 40px 3vw;
    border-radius: 15px;
}

.myinp{
    padding: 2px 32px ;
    margin-bottom: 25px;
}

.myinp div{
    position: absolute;
    padding: 10px 4px;
    
}
.myinp input{
    width: 100%;
    background-color: #153973;
    padding-left: 30px;
    line-height: 2.7rem;
    border-radius: 5px;
    border: none;
}

.loginForm input::placeholder {
    color: #98c2be;
}

.loginForm button {
    margin: 10px auto;
    margin-top: 0px;
    width: 100%;
    line-height: 2.7rem;
    border-radius: 5px;
    border: none;
    background-color: #e0e438;
    color: #08295e;
    font-size: 1rem;
    font-weight: bolder;
}

.loginForm button:hover {
    cursor: pointer;
    background-color: #c9cc2c;
}

.loginForm p{
    color: 	#ff3333;
    text-align:'left';
    font-size: small;
}

.buttonDiv{
    display: flex;
    padding: 2px 32px;
}

@media only screen and (min-width:200px) and (max-width:600px){
    .loginContainer{
        margin: 15vh auto;
    }
    .loginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 30px;
        width: 80%;
    }

    .loginForm .myinp {
        width: 90%;
    }

    .buttonDiv{
        width: 90%;
        display: flex;
        padding: 2px 32px;
    }

    .loginForm button{
        width: 100%;
    }
    
}